html {
    background-color: rgb(0, 119, 255);
    }
.grid-container {
    display:grid;
    gap: 0px;
    grid-template-areas:
    ". zip-input ."
    ". Weather .";
    grid-template-columns:
    394.641px 473.594px 315.719px;
    grid-template-rows:
    83.9688px 419.891px 965.766px 419.891px;
    margin: 8px;
  }
  
  .zip-input { grid-area: zip-input; }
  
  .Weather { 
      grid-area: Weather;
      border: 1px solid rgb(83, 248, 207);
      background-color:rgb(83, 248, 207);
      border-radius: 15px;

    }
  .flex {
      display: flex;
  }
  .head {
    background-color: red;
}

.temp {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative; left: 52px; top: -101px;
}

h1 {
    font-size: 49px;
    font-weight: 700;
    gap: normal;
    margin: 32.83px 0px;
    position: relative; left: 39px; top: 26px; font-size: 49px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    gap: normal;
    margin: 19.92px 0px;
}

img {
    position: relative; 
    left: 287px; 
    top: -31px; 
    will-change: top, left;
}

p {
    font-size: 24px;
    font-weight: 700;
    gap: normal;
    margin: 24px 0px;
}

#info {
    position: relative; 
    left: 43px; 
    top: -98px;
}